SECRET_KEY=insert the django secret key that is generated in setting.py
TRELLO_API_KEY=insert the api key that is located on the trello generate api page
TRELLO_TOKEN=insert the generated token that is located on the trello generate api page
CUSTOM_FIELD_NAME=insert the name of the custom field in the trello board that will be tracked